.advantage {
  background-color: $accent-background;
  color: $contrary-color;

  &--decorate {
    padding-top: 15px;
    clip-path: polygon(0 0, 50% 15px, 100% 0, 100% 100%, 0 100%);
  }
}

.advantage__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.advantage__title {
  margin: 0;
  margin-bottom: 15px;
  color: $contrary-color;
}

.advantage__text {
  margin: 0;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.advantage__image {
  display: block;
  width: 100%;
  min-height: 260px;
  object-fit: cover;
}

// Tablet
@media (min-width: $tablet-width) {
  // Advantage
  .advantage {
    display: flex;
  }

  .advantage--decorate {
    padding: 0;
    clip-path: none;
  }

  .advantage--toleft {
    flex-direction: row-reverse;
  }

  // Advantage text
  .advantage__text-wrapper {
    flex-grow: 1;
  }

  .advantage__title {
    max-width: 170px;
  }

  .advantage__text {
    margin-bottom: 30px;
    max-width: 280px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  // Advantage image
  .advantage__image {
    width: 66.6%;
    height: auto;
  }
}
