.advantage-list {
  padding: 0 20px;
  background-color: $neutral-background;
}

.advantage-list__item {
  padding: 25px 15px;
  border-bottom: 1px solid $section-border-color;
  text-align: center;

  &:last-child {
    border-bottom: none;
  }
}

.advantage-list__title {
  margin: 0;
  margin-bottom: 11px;
}

.advantage-list__text {
  margin: 0;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantage-list__nobreak {
  white-space: nowrap;
}

// Tablet
@media (min-width: $tablet-width) {
  .advantage-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .advantage-list__item {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 35px 44px 35px;
    border-bottom: none;
  }

  .advantage-list__title {
    margin-bottom: 12px;
    max-width: 150px;
  }

  .advantage-list__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .advantage-list__item {
    padding: 42px 55px 62px 55px;
  }

  .advantage-list__title {
    margin-bottom: 15px;
  }

  .advantage-list__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
