.copy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.copy__text {
  margin-right: 12px;
  font-size: 14px;
  color: $basic-contrast-color;
  text-transform: uppercase;
}

.copy__image {
  display: block;
  color: $basic-contrast-color;
}

.copy__link {
  outline-offset: 3px;

  &:hover .copy__image,
  &:focus .copy__image {
    color: $accent-color;
  }

  &:active .copy__image {
    color: $active-copy-color;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .copy {
    justify-content: flex-end;
  }
}
