// Features list

.features {
  padding: 35px 30px 37px 70px;
  margin: 0 auto;
  list-style: none;
}

.features__item {
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__title {
  position: relative;
  margin: 0;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-60%);

    width: 40px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--apartment::before {
    background-size: 39px 37px;
    background-image: url("../img/icon-house.svg");
  }

  &--souvenir::before {
    background-size: 32px 38px;
    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    background-size: 40px 35px;
    background-image: url("../img/icon-burger.svg");
  }
}

.features__text {
  margin: 0;
}

.features__break {
  display: none;
}

// Tablet
@media (min-width: $tablet-width) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .features__item {
    flex-basis: 33%;
    margin: 0;
    padding: 158px 15px 62px 15px;
    text-align: center;
  }

  .features__item--last {
    order: 1;
  }

  .features__title {
    margin-bottom: 23px;

    &::before {
      top: -100px;
      left: 50%;
      transform: translateX(-50%);

      width: 76px;
      height: 75px;
      background-position: center bottom;
    }

    &--apartment::before {
      background-size: 75px 72px;
    }

    &--souvenir::before {
      background-size: 64px 75px;
    }

    &--food::before {
      background-size: 76px 68px;
    }
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .features__item {
    padding: 158px 50px 80px 50px;
  }

  .features__break {
    display: block;
  }
}
