.footer {
  padding: 35px 20px 26px 20px;
}

.footer__tag {
  margin: 0;
  margin-bottom: 35px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.footer__social {
  margin-bottom: 40px;
}

// Tablet
@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 30px;
  }

  .footer__tag {
    margin-bottom: 0;
    margin-right: 30px;
    flex-basis: 30%;
  }

  .footer__social {
    margin-bottom: 0;
    margin-right: 30px;
    flex-basis: 30%;
  }

  .footer__copy {
    flex-basis: 30%;
  }
}
