// Header

.header {
  position: relative;
  min-height: 56px;

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

// Toggle

.header__nav-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1;

  @include reset;
  width: 23px;
  height: 22px;
  border: none;
  background-color: crimson;
}

// Header navigation list

.header__nav-list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
