// Heading
.heading__image {
  display: block;
  width: 100%;
  height: 389px;
  object-fit: cover;
  object-position: center bottom;

  &--small {
    height: 158px;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .heading__image {
    height: 518px;

    &--small {
      height: 290px;
    }
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .heading__image--small {
    height: 301px;
  }
}
