// Heading
.heading {
  position: relative;
  height: 389px;
  background-color: $page-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../img/heading-mobile.jpg");

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/heading-mobile@2x.jpg");
  }
}

.heading__text {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 282px;
  height: 214px;
}

.heading--small {
  height: 158px;
  background-color: $page-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-image: url("../img/heading-small-mobile.jpg");

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/heading-small-mobile@2x.jpg");
  }

  .heading__text {
    top: 51px;
    width: 229px;
    height: 39px;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .heading {
    height: 518px;
    background-image: url("../img/heading.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/heading@2x.jpg");
    }
  }

  .heading__text {
    top: 78px;
    width: 461px;
    height: 350px;
  }

  .heading--small {
    height: 290px;
    background-image: url("../img/heading-small-tablet.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/heading-small-tablet@2x.jpg");
    }

    .heading__text {
      top: 95px;
      width: 457px;
      height: 78px;
    }
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .heading--small {
    height: 301px;
    background-image: url("../img/heading-small-desktop.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/heading-small-desktop@2x.jpg");
    }

    .heading__text {
      top: 102px;
      width: 460px;
      height: 80px;
    }
  }
}
