// Lead

.lead {
  padding: 32px 30px;
  max-width: 670px;
  text-align: center;
}

// Lead title

.lead__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

// Lead text

.lead__text {
  margin: 0;
  line-height: 24px;
  text-transform: uppercase;
}
