// Lead
.lead {
  padding: 32px 20px;
  max-width: 60ch;
  text-align: center;
}

// Lead title
.lead__title {
  margin: 0;
  margin-bottom: 20px;
}

// Lead text
.lead__text {
  margin: 0;
  line-height: 24px;
  text-transform: uppercase;
}

// Tablet
@media (min-width: $tablet-width) {
  .lead {
    padding: 44px 20px 52px 20px;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .lead {
    padding: 55px 20px 41px 20px;
  }
}
