.video {
  padding-bottom: 35px;
}

// Text
.video__text-wrapper {
  padding: 32px 20px;
}

.video__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.video__text {
  margin: 0;
  padding: 0 10px;
  text-align: center;
}

// Player
.video__video {
  display: block;
  width: 100%;
  height: auto;
}

// Controls
.video__controls {
  position: relative;
  display: flex;
  align-items: center;
  padding: 23px;
  margin: 0 auto;
  width: calc(100% - 40px);
  background-color: $input-background;
}

.video__repeat {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 42px;
  width: 16px;
  height: 20px;
  border: none;
  background-color: crimson;
}

.video__progress-wrapper {
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;

  height: 45px;
  padding: 21px 23px;
  background-color: $video-background;
}

.video__progress-line {
  position: relative;
  height: 3px;
  background-color: $video-progress-line-color;
}

.video__progress-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $contrary-color;
}

.video__captions {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  margin-left: auto;
  width: 32px;
  height: 20px;
  border: none;
  background-color: crimson;
}

.video__fullscreen {
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: crimson;
}

// Tablet
@media (min-width: $tablet-width) {
  .video {
    padding: 50px 60px 40px 60px;
  }

  // Text
  .video__text-wrapper {
    margin: 0 auto;
    padding: 65px 0;
    max-width: 450px;
  }

  .video__title {
    font-size: 30px;
  }

  .video__text {
    padding: 0;
  }

  .video__player {
    position: relative;
  }

  // Controls
  .video__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px;
    width: 100%;
    background-color: $video-background;
  }

  .video__progress-wrapper {
    position: static;
    flex: 1 0 50%;
    margin-right: 42px;
    padding: 3px 0;
    height: 9px;
    background-color: transparent;
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .video {
    padding: 0 200px 85px 200px;
  }
}
