.video {
  padding-bottom: 40px;
}

// Text
.video__text-wrapper {
  padding: 32px 20px 35px 20px;
}

.video__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}

.video__text {
  margin: 0;
  padding: 0 10px;
  line-height: 24px;
  text-align: center;
}

// Player
.video__video {
  display: block;
  width: 100%;
  height: auto;
}

// Controls
.video__controls {
  position: relative;
  display: flex;
  align-items: center;
  padding: 23px 23px 23px 25px;
  margin: 0 auto;
  width: calc(100% - 40px);
  background-color: $input-background;
}

.video__replay-icon {
  color: $video-button-color;
}

.video__replay {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  width: 16px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline-offset: 3px;

  &:focus:not(:-moz-focusring) {
    outline: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover .video__replay-icon,
  &:focus .video__replay-icon {
    color: $basic-color;
  }

  &:active .video__replay-icon {
    color: $basic-color;
    opacity: 0.3;
  }
}

.video__progress-wrapper {
  position: absolute;
  top: -45px;
  right: 0;
  left: 0;

  height: 45px;
  padding: 21px 23px;
  background-color: $video-background;
}

.video__progress-line {
  position: relative;
  height: 3px;
  background-color: $video-progress-line-color;
}

.video__progress-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: $contrary-color;
}

.video__captions-icon {
  color: $video-button-color;
}

.video__captions {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 32px;
  margin-left: auto;
  width: 32px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline-offset: 3px;

  &:focus:not(:-moz-focusring) {
    outline: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover .video__captions-icon,
  &:focus .video__captions-icon {
    color: $basic-color;
  }

  &:active .video__captions-icon {
    color: $basic-color;
    opacity: 0.3;
  }
}

.video__fullscreen-icon {
  color: $video-button-color;
}

.video__fullscreen {
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  outline-offset: 3px;

  &:focus:not(:-moz-focusring) {
    outline: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:hover .video__fullscreen-icon,
  &:focus .video__fullscreen-icon {
    color: $basic-color;
  }

  &:active .video__fullscreen-icon {
    color: $basic-color;
    opacity: 0.3;
  }
}

// Tablet
@media (min-width: $tablet-width) {
  .video {
    padding: 50px 60px 40px 60px;
  }

  // Text
  .video__text-wrapper {
    margin: 0 auto;
    padding: 7px 0 80px 0;
    max-width: 450px;
  }

  .video__title {
    font-size: 30px;
    margin-bottom: 34px;
  }

  .video__text {
    padding: 0;
  }

  .video__player {
    position: relative;
  }

  // Player
  .video__video {
    height: 500px;
    object-fit: cover;
  }

  // Controls
  .video__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 35px 40px 38px 35px;
    width: 100%;
    background-color: $video-background;
  }

  .video__replay-icon {
    color: $contrary-color;
  }

  .video__replay {
    margin-right: 42px;

    &:hover .video__replay-icon,
    &:focus .video__replay-icon {
      color: $contrary-color;
      opacity: 0.6;
    }

    &:active .video__replay-icon {
      color: $contrary-color;
      opacity: 0.3;
    }
  }

  .video__progress-wrapper {
    position: static;
    flex: 1 0 50%;
    margin-right: 42px;
    padding: 3px 0;
    height: 9px;
    background-color: transparent;
  }

  .video__captions-icon {
    color: $contrary-color;
  }

  .video__captions {
    &:hover .video__captions-icon,
    &:focus .video__captions-icon {
      color: $contrary-color;
      opacity: 0.6;
    }

    &:active .video__captions-icon {
      color: $contrary-color;
      opacity: 0.3;
    }
  }


  .video__fullscreen-icon {
    color: $contrary-color;
  }

  .video__fullscreen {
    &:hover .video__fullscreen-icon,
    &:focus .video__fullscreen-icon {
      color: $contrary-color;
      opacity: 0.6;
    }

    &:active .video__fullscreen-icon {
      color: $contrary-color;
      opacity: 0.3;
    }
  }
}

// Desktop
@media (min-width: $desktop-width) {
  .video {
    padding: 54px 200px 85px 200px;
  }

  // Text
  .video__text-wrapper {
    padding-bottom: 78px;
  }

  // Player
  .video__video {
    height: auto;
  }
}
