*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: $mobile-container-width;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $basic-background;
  box-shadow: $container-shadow;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $tablet-container-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-container-width;
  }
}
