$basic-color: #333333;
$basic-contrast-color: #000000;
$contrary-color: #ffffff;

$section-border-color: #d6d6d6;
$fieldset-border-color: #e5e5e5;

$page-background: #f2f2f2;
$basic-background: #ffffff;
$accent-background: #81b3d2;
$neutral-background: #eeeeee;
$input-background: #f2f2f2;
$input-icon-background: #e6e6e6;

$container-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
$nav-list-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
$nav-item-shadow:
  0 1px 0 rgba(1, 1, 1, 0.2),
  0 1px 0 rgba(255, 255, 255, 0.2) inset;

// Container width
<<<<<<< HEAD

=======
<<<<<<< HEAD

$mobile-container-width: 480px;
$tablet-container-width: 900px;
$desktop-container-width: 1200px;

// Device width

$tablet-width: 600px;
$desktop-width: 900px;
=======

>>>>>>> 2d4b5e5... Исправляет высоту картинок на главной
$mobile-container-width: 480px;
$tablet-container-width: 1000px;
$desktop-container-width: 1200px;

// Device width

$tablet-width: 768px;
$desktop-width: 1200px;
<<<<<<< HEAD
=======
>>>>>>> 4e074a5... Добавляет адаптивность главной страницы
>>>>>>> 2d4b5e5... Исправляет высоту картинок на главной
